version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    container_name: taskmanager_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: taskdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: yourpassowrd
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
